### Скрипт склейка конечных файлов MOEX OI 5 минут и Финама 5 минут

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/Work/Data/RIU2_5min.csv', delimiter=';', header = 0)

In [3]:
df

,Datetime,open,high,low,close,VOL,VB,VS
0,2022-06-14 10:00:00,116800.0,117180.0,116000.0,116690.0,317,130,187
1,2022-06-14 10:05:00,116410.0,117980.0,116130.0,117770.0,141,100,41
2,2022-06-14 10:10:00,117830.0,117980.0,116610.0,116770.0,291,106,185
3,2022-06-14 10:15:00,116700.0,116700.0,115160.0,115270.0,261,58,203
4,2022-06-14 10:20:00,115210.0,115210.0,114500.0,114850.0,242,99,143
...,...,...,...,...,...,...,...,...
9853,2022-09-15 18:25:00,129230.0,129240.0,129230.0,129240.0,53,29,24
9854,2022-09-15 18:30:00,129240.0,129240.0,129230.0,129240.0,41,38,3
9855,2022-09-15 18:35:00,129240.0,129240.0,129230.0,129240.0,37,25,12
9856,2022-09-15 18:40:00,129240.0,129250.0,129230.0,129250.0,119,113,6
9857,2022-09-15 18:45:00,129240.0,129250.0,129230.0,129240.0,92,57,35

In [4]:
oi = pd.read_csv('D:/Work/Data/OI_RIU2.csv', delimiter=';', header = 0)

In [5]:
oi

,Trade_Time,yurl_l,yurl_s,yurl_l_num,yurl_s_num,fiz_l,fiz_s,fiz_l_num,fiz_s_num
0,2022-06-10 12:05:00,26201,5418,43,30,22091,42877,1740,4313
1,2022-06-10 12:10:00,26282,5420,44,30,22095,42957,1737,4324
2,2022-06-10 12:15:00,26234,5425,44,30,22221,43030,1749,4328
3,2022-06-10 12:20:00,26327,5419,47,30,22310,43218,1763,4322
4,2022-06-10 12:25:00,26484,5428,47,30,22516,43580,1755,4321
...,...,...,...,...,...,...,...,...,...
8704,2022-12-09 22:35:00,36948,5534,45,49,27644,59058,2007,5416
8705,2022-12-09 22:40:00,36949,5533,45,49,27637,59053,2005,5416
8706,2022-12-09 22:45:00,36952,5532,45,49,27591,59011,1990,5418
8707,2022-12-09 22:50:00,36960,5532,46,49,27581,59009,1990,5416
8708,2022-12-09 22:55:00,36971,5533,45,48,27600,59038,1987,5419

In [6]:
# переименовываем колонку
df.rename(columns={'Datetime': 'Trade_Time'}, inplace=True)

In [7]:
# преобразуем Trade_Time из строки в формат datetime 
oi['Trade_Time']= pd.to_datetime(oi['Trade_Time'])
df['Trade_Time']= pd.to_datetime(df['Trade_Time'])

In [8]:
oi.head()

,Trade_Time,yurl_l,yurl_s,yurl_l_num,yurl_s_num,fiz_l,fiz_s,fiz_l_num,fiz_s_num
0,2022-06-10 12:05:00,26201,5418,43,30,22091,42877,1740,4313
1,2022-06-10 12:10:00,26282,5420,44,30,22095,42957,1737,4324
2,2022-06-10 12:15:00,26234,5425,44,30,22221,43030,1749,4328
3,2022-06-10 12:20:00,26327,5419,47,30,22310,43218,1763,4322
4,2022-06-10 12:25:00,26484,5428,47,30,22516,43580,1755,4321

In [9]:
df.head()

           Trade_Time      open      high       low     close  VOL   VB   VS
0 2022-06-14 10:00:00  116800.0  117180.0  116000.0  116690.0  317  130  187
1 2022-06-14 10:05:00  116410.0  117980.0  116130.0  117770.0  141  100   41
2 2022-06-14 10:10:00  117830.0  117980.0  116610.0  116770.0  291  106  185
3 2022-06-14 10:15:00  116700.0  116700.0  115160.0  115270.0  261   58  203
4 2022-06-14 10:20:00  115210.0  115210.0  114500.0  114850.0  242   99  143

In [10]:
# объединяем два файла
#od = pd.merge(df, oi, how = 'left', on=['Trade_Time'])
od = pd.merge(df, oi, how = 'left')

In [11]:
od

,Trade_Time,open,high,low,close,VOL,VB,VS,yurl_l,yurl_s,yurl_l_num,yurl_s_num,fiz_l,fiz_s,fiz_l_num,fiz_s_num
0,2022-06-14 10:00:00,116800.0,117180.0,116000.0,116690.0,317,130,187,29012.0,5574.0,48.0,31.0,24023.0,47461.0,1501.0,4343.0
1,2022-06-14 10:05:00,116410.0,117980.0,116130.0,117770.0,141,100,41,28598.0,5625.0,46.0,33.0,24231.0,47201.0,1594.0,4275.0
2,2022-06-14 10:10:00,117830.0,117980.0,116610.0,116770.0,291,106,185,28583.0,5678.0,44.0,34.0,24331.0,47237.0,1698.0,4285.0
3,2022-06-14 10:15:00,116700.0,116700.0,115160.0,115270.0,261,58,203,28608.0,5831.0,45.0,37.0,24536.0,47311.0,1777.0,4315.0
4,2022-06-14 10:20:00,115210.0,115210.0,114500.0,114850.0,242,99,143,28715.0,5459.0,46.0,33.0,23609.0,46865.0,1836.0,4246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9855,2022-09-15 18:25:00,129230.0,129240.0,129230.0,129240.0,53,29,24,34904.0,9062.0,38.0,61.0,25366.0,51208.0,1872.0,4908.0
9856,2022-09-15 18:30:00,129240.0,129240.0,129230.0,129240.0,41,38,3,34839.0,9023.0,38.0,62.0,25235.0,51051.0,1871.0,4923.0
9857,2022-09-15 18:35:00,129240.0,129240.0,129230.0,129240.0,37,25,12,34745.0,9072.0,36.0,59.0,24820.0,50493.0,1854.0,4870.0
9858,2022-09-15 18:40:00,129240.0,129250.0,129230.0,129250.0,119,113,6,34751.0,9258.0,37.0,60.0,24838.0,50331.0,1856.0,4838.0
9859,2022-09-15 18:45:00,129240.0,129250.0,129230.0,129240.0,92,57,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Сортировка по возрастанию ( день ближе к сегодня - последний)
#od = od.sort_values(by='Trade_Time', ascending=True, na_position='first')

In [16]:
# Удаляем дубликаты
#od2 = od.drop_duplicates()

In [12]:
# заполняем NaN предыдущими значениями
out = od.ffill(axis= 0)

In [13]:
out

,Trade_Time,open,high,low,close,VOL,VB,VS,yurl_l,yurl_s,yurl_l_num,yurl_s_num,fiz_l,fiz_s,fiz_l_num,fiz_s_num
0,2022-06-14 10:00:00,116800.0,117180.0,116000.0,116690.0,317,130,187,29012.0,5574.0,48.0,31.0,24023.0,47461.0,1501.0,4343.0
1,2022-06-14 10:05:00,116410.0,117980.0,116130.0,117770.0,141,100,41,28598.0,5625.0,46.0,33.0,24231.0,47201.0,1594.0,4275.0
2,2022-06-14 10:10:00,117830.0,117980.0,116610.0,116770.0,291,106,185,28583.0,5678.0,44.0,34.0,24331.0,47237.0,1698.0,4285.0
3,2022-06-14 10:15:00,116700.0,116700.0,115160.0,115270.0,261,58,203,28608.0,5831.0,45.0,37.0,24536.0,47311.0,1777.0,4315.0
4,2022-06-14 10:20:00,115210.0,115210.0,114500.0,114850.0,242,99,143,28715.0,5459.0,46.0,33.0,23609.0,46865.0,1836.0,4246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9855,2022-09-15 18:25:00,129230.0,129240.0,129230.0,129240.0,53,29,24,34904.0,9062.0,38.0,61.0,25366.0,51208.0,1872.0,4908.0
9856,2022-09-15 18:30:00,129240.0,129240.0,129230.0,129240.0,41,38,3,34839.0,9023.0,38.0,62.0,25235.0,51051.0,1871.0,4923.0
9857,2022-09-15 18:35:00,129240.0,129240.0,129230.0,129240.0,37,25,12,34745.0,9072.0,36.0,59.0,24820.0,50493.0,1854.0,4870.0
9858,2022-09-15 18:40:00,129240.0,129250.0,129230.0,129250.0,119,113,6,34751.0,9258.0,37.0,60.0,24838.0,50331.0,1856.0,4838.0
9859,2022-09-15 18:45:00,129240.0,129250.0,129230.0,129240.0,92,57,35,34751.0,9258.0,37.0,60.0,24838.0,50331.0,1856.0,4838.0

In [14]:
# Сохраняем все в файл
out.to_csv('D:/Work/Data/RIU2_5min_OI.csv',
          index= False,
          sep = ";")